{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block title %} Create trip {% endblock %}
{% block content %}

<div class="breadcrumbs">
            <div class="wrap">
                <div class="wrap_float">
                    <a href="{% url 'home' %}">Home</a>
                    <span class="separator">/</span>
                    <a href="{% url 'destinations' %}">Destinations</a>
                    <span class="separator">/</span>
                    <a href="#" class="current">Destination</a>
                    <span class="separator">/</span>
                    <a href="#" class="current">Create trip</a>
                </div>
            </div>
        </div>
        <div class="image_bg--single" style="background-image: url({% static 'img/header3.jpg' %});"></div>
        <div class="page_content single-page tour-single">
            <div class="content-head">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="main">
                            <div class="section-top single-row">
                                <div class="single-left">

                                    <h1 class="title">
                                        You are one step<br> to create your own trip.
                                    </h1>
                                </div>
                            </div>
                            <div class="single-tour-slider" id="single-tour-slider">

                            </div>
                            <div class="description single-row">
                                <div class="single-left">
                                    <p>
                                        In order to create trip you have to do following steps:<br>
                                        <ul>
                                            <li>
                                                <h5><b>Choose type of trip.</b> There are three options: multiple, single, family.</h5>
                                                <ol>
                                                    <li><b>Multiple:</b> you will have option to travel in group. Maximum number of members might be 10. You can pick the guide and services from his list. As well as, join to the existing group.</li>
                                                    <li><b>Single:</b> you will travel alone.</li>
                                                    <li><b>Family:</b> you can travel with your family, choose number of people to travel. The system will create separate group for you. We have 10% discount for family groups.</li>
                                                </ol><br>
                                                <h5><b>Pick hotel to stay.</b></h5><br>
                                                <h5><b>Choose type of meal.</b> There are options: Guide will organize the food according to your desires.</h5>
                                                <h5><b>Choose dates.</b></h5><br>
                                                After submitting in the system will be created a trip for you, but to finish you have to choose in next pages guides and services.<br>
                                            </li>

                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="single-left">
                            <div class="single-content page--content details">
                                <h2>Fill the form to create trip:</h2>
                                {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="mb-5 p-4 rounded-xl bg-red-200 text-white">
                                <p>{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                        {% endif %}
                        {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                        {% endif %}
                        <form class="form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="fields__block">
                                <div class="fields">
                                    <div class="field">
                                      {% csrf_token %}
                                            <div class="field_wrap keywords" style="margin: 10px 0;">
                                              <div><label class="section_subtitle">Choose type</label></div>
                                                {{ form.type|add_class:"input form-control-lg" }}
                                                    {{ form.type.errors|escape}}
                                            </div>

                                            <div class="field_wrap keywords" style="margin: 10px 0;">
                                              <div><label class="section_subtitle">Hotel</label></div>
                                                {{ form.hotel|add_class:"input form-control-lg" }}
                                                    {{ form.hotel.errors|escape}}
                                            </div>

                                            <div class="field_wrap keywords" style="margin: 10px 0;">
                                              <div><label class="section_subtitle">Meal</label></div>
                                                {{ form.meal|add_class:"input form-control-lg" }}
                                                    {{ form.meal.errors|escape}}
                                            </div>

                                            <div class="field_wrap keywords" style="margin: 10px 0;">
                                              <div><label class="section_subtitle">Start Date yyyy-mm-dd</label></div>
                                                {{ form.start_date|add_class:"input form-control-lg" }}
                                                    {{ form.start_date.errors|escape}}
                                            </div>
                                            <div class="" style="margin: 10px 0;">
                                              <div><label class="section_subtitle">End Date yyyy-mm-dd</label></div>
                                                {{ form.end_date|add_class:"input form-control-lg" }}
                                                    {{ form.end_date.errors|escape}}
                                            </div>
                                        <input class="btn btn-success" type="submit" name="submit" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="overlay" id="overlay"></div>



    <script>
      $(function () {
        $("#datetimepicker1").datetimepicker({
          format: 'DD/MM/YYYY HH:mm',
        });
      });
    </script>
    {% endblock %}

}