{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block title %} Add post {% endblock %}
{% block content %}

<div class="breadcrumbs">
            <div class="wrap">
                <div class="wrap_float">
                    <a href="{% url 'home' %}">Home</a>
                    <span class="separator">/</span>
                    <a href="{% url 'blog' %}">Blog</a>
                    <span class="separator">/</span>
                    <a href="#" class="current">Create post</a>
                </div>
            </div>
        </div>
        <div class="image_bg--single" style="background-image: url({% static 'img/header3.jpg' %});"></div>
        <div class="page_content single-page tour-single">
            <div class="content-head">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="main">
                            <div class="section-top single-row">
                                <div class="single-left">

                                    <h1 class="title">
                                        Help the traveller's community,<br>create your post.
                                    </h1>
                                </div>
                            </div>
                            <div class="single-tour-slider" id="single-tour-slider">

                            </div>
                            <div class="description single-row">
                                <div class="single-left">
                                    <p>
                                        In order to create new post you have to do following steps:<br>
                                        <ul>
                                            <li>
                                                <h5><b>Title the post.</b></h5>
                                                <h5><b>Pick the keyword for the post.</b>This is useful for searching and filtering the posts</h5><br>
                                                <h5><b>Write your article.</b></h5>
                                                <h5><b>Select related to your article categories.</b></h5><br>
                                                <h5><b>Add an image to your post.</b></h5><br>
                                                After submitting in the system will be created a post.<br>
                                            </li>

                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="single-left">
                            <div class="single-content page--content details">
                                <h2>Fill the form to add new post:</h2>
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <div class="mb-5 p-4 rounded-xl bg-red-200 text-white">
                                            <p>{{ error|escape }}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}


                                <form class="form" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="fields__block">
                                        <div class="fields">
                                            <div class="field">
                                                    <div class="field_wrap keywords" style="margin: 10px 0;">
                                                        <div><label class="section_subtitle">Title of the post</label></div>
                                                        {{ form.title|add_class:"input form-control-lg" }}
                                                        {{ form.title.errors|escape}}
                                                    </div>

                                                    <div class="field_wrap keywords" style="margin: 10px 0;">
                                                        <div><label class="section_subtitle">Keyword for the post</label></div>
                                                        {{ form.slug|add_class:"input form-control-lg" }}
                                                            {{ form.slug.errors|escape}}
                                                    </div>

                                                    <div class="field_wrap keywords" style="margin: 10px 0;">
                                                        <div><label class="section_subtitle">Body of the post</label></div>
                                                        {{ form.text|add_class:"textarea form-control-lg" }}
                                                            {{ form.text.errors|escape}}
                                                    </div>

                                                    <div class="field_wrap keywords" style="margin: 10px 0;">
                                                        <div><label class="section_subtitle">Related categories</label></div>
                                                        {{ form.tags|add_class:"textarea form-control-lg" }}
                                                            {{ form.tags.errors|escape}}
                                                    </div>
                                                    <div class="field_wrap keywords" style="margin: 10px 0;">
                                                        <div><label class="section_subtitle">Add image</label></div>
                                                        {{ form.image |add_class:""}}<br/>
                                                    </div>
                                                <input class="btn btn-success" type="submit" name="submit" value="Submit" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="overlay" id="overlay"></div>
{% endblock %}
