{% extends 'base.html'%}
{% load widget_tweaks %}
{% block title %} Add destination {% endblock %}
{% block content %}
    <div class="page_content single-page tour-single dark">
        <div class="content-body">
            <div class="wrap">
                <div class="wrap_float" >
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="mb-5 p-4 rounded-xl bg-red-200 text-white">
                                <p>{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <form class="form" method="POST" enctype="multipart/form-data">
                        <div class="search_tour_form">
                            <h2 class="section_subtitle">
                                Add destination
                            </h2>
                            {% csrf_token %}

                            <div class="fields__block">
                            <div class="fields">
                                <div class="field">
                                    {% csrf_token %}
                                        <div class="field_wrap keywords" style="margin: 10px 0;">
                                            <div><label class="section_subtitle">Name of the destination</label></div>
                                            {{ form.name|add_class:"input form-control-lg" }}
                                            {{ form.name.errors|escape}}
                                        </div>

                                        <div class="field_wrap keywords" style="margin: 10px 0;">
                                            <div><label class="section_subtitle">Description of the destination</label></div>
                                            {{ form.description|add_class:"textarea form-control-lg" }}
                                                {{ form.description.errors|escape}}
                                        </div>

                                        <div class="field_wrap keywords" style="margin: 10px 0;">
                                            <div><label class="section_subtitle">Country</label></div>
                                            {{ form.country|add_class:"input form-control-lg" }}
                                                {{ form.country.errors|escape}}
                                        </div>

                                        <div class="field_wrap keywords" style="margin: 10px 0;">
                                            <div><label class="section_subtitle">Google map iframe</label></div>
                                            {{ form.map|add_class:"textarea form-control-lg" }}
                                                {{ form.map.errors|escape}}
                                        </div>
                                        <div class="field_wrap keywords" style="margin: 10px 0;">
                                            <div><label class="section_subtitle">Add image</label></div>
                                            {{ formset.management_form }}
                                            {% for f in formset %}
                                                {{ f }}
                                            {% endfor %}
                                        </div>
                                    <input class="btn btn-success" type="submit" name="submit" value="Submit" />
                                </div>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}