{% extends 'base.html' %}
{% load static %}
{% block title %} Destinations {% endblock %}
{% block content %}



        <div class="image_bg" style="background-image: url({% static 'img/header2.jpg' %})"></div>
        <div class="page_content three-columns">
            <div class="wrap">
                <div class="wrap_float">
                    <div class="section-title">List of destinations</div>
                    <div class="main">
                        <div class="most_popular__section">
                            {% for place in destinations %}
                                <a href="{% url 'm-place-detail' place.pk %}" class="slider_item" style="background-image: url({{ place.pictures.first }})">
                                    <div class="slider_item__content">
                                        <div class="title">
                                            {{ place.name }}
                                        </div>
                                        <p>
                                            <span>{{ place.price }}</span>
                                        </p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="pagination">
                            {% if page_obj.has_other_pages %}
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="prev"><a href="?page={{ page_obj.previous_page_number }}"></a></li>
                                    {% else %}
                                        <li class="prev"><a disabled></a></li>
                                    {% endif %}

                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                                <li class="current"><a disabled>{{ i }}</a></li>
                                            {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <li class="next"><a href="?page={{ page_obj.next_page_number }}"></a></li>
                                    {% else %}
                                        <li class="next"><a disabled></a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}