{% extends 'base.html' %}
{% block title %} Guides {% endblock %}
{% block content %}

        <div class="breadcrumbs">
            <div class="wrap">
                <div class="wrap_float">
                    <a href="{% url 'home' %}">Home</a>
                    <span class="separator">/</span>
                    <a href="{% url 'profile' %}">Moderator</a>
                    <span class="separator">/</span>
                    <a href="#" class="current">List of guides</a>
                </div>
            </div>
        </div>
        <div class="page_content single-page about-page">
            <div class="content-body">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="team">
                            <div class="team_title">List of guides</div>
                            <div class="section_content">
                                {% for guide in guides %}
                                <div class="item">
                                    <div class="item_image">
                                        <div class="sq_parent">
                                            <div class="sq_wrap">
                                                <div class="sq_content">
                                                    <img src="{{ guide.user.avatar.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item_info">
                                        <div class="item_title">{{ guide.user.first_name }} {{ guide.user.last_name }}</div>
                                        <div class="item_position">
                                            <p>{{ guide.description }}</p><br>
                                            <a href="{% url 'm-guide-delete' guide.pk %}"><button style="margin: 10px 0; background-color:#0a0a23; color: #fff; border:none; border-radius:10px; padding:15px; min-height:30px; min-width: 120px;" type="button">Delete</button></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="pagination">
                            {% if page_obj.has_other_pages %}
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="prev"><a href="?page={{ page_obj.previous_page_number }}"></a></li>
                                    {% else %}
                                        <li class="prev"><a disabled></a></li>
                                    {% endif %}

                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                                <li class="current"><a disabled>{{ i }}</a></li>
                                            {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <li class="next"><a href="?page={{ page_obj.next_page_number }}"></a></li>
                                    {% else %}
                                        <li class="next"><a disabled></a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}