{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block title %} Change password {% endblock %}
{% block content %}

<div class="breadcrumbs">
            <div class="wrap">
                <div class="wrap_float">
                    <a href="{% url 'home' %}">Home</a>
                    <span class="separator">/</span>
                    <a href="{% url 'profile' %}">Profile</a>
                    <span class="separator">/</span>
                    <a href="#" class="current">Change password</a>
                </div>
            </div>
        </div>
        <div class="image_bg--single" style="background-image: url({% static 'img/header4.jpg' %});"></div>
        <div class="page_content single-page tour-single">
            <div class="content-head">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="main">
                            <div class="section-top single-row">
                                <div class="single-left">

                                    <h1 class="title">
                                        You can change password here.
                                    </h1>
                                </div>
                            </div>
                            <div class="single-tour-slider" id="single-tour-slider">

                            </div>
                            <div class="description single-row">
                                <div class="single-left">
                                    <p>
                                        In order to change password do following steps:
                                        <ul>
                                            <li>
                                                <h5><b>Write old password.</b></h5>
                                                <h5><b>Generate new password.</b> New password must contain at least 6 characters.</h5>
                                                <h5><b>Confirm new password.</b></h5>
                                                After submitting, the system will change password.<br>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="single-left">
                            <div class="single-content page--content details">
                                <br><h2>Fill the form to change password:</h2>
                                <form class="form" method="POST">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-dismissible alert-success">
                                                <button type="button" class="close" data-dismiss="alert"></button>
                                                <strong style="color:red">{{message}}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% csrf_token %}

                                    <div class="fields__block">
                                        <div class="fields">
                                            <div class="field">
                                                <div class="field_wrap keywords" style="margin: 10px 0;">
                                                  <div><label class="section_subtitle">Current Password</label></div>
                                                    {{ form.old_password|add_class:"input" }}
                                                    {{ form.old_password.errors|escape}}
                                                </div>

                                                <div class="field_wrap keywords" style="margin: 10px 0;">
                                                  <div><label class="section_subtitle">New Password</label></div>
                                                    {{ form.new_password1|add_class:"input" }}
                                                    {{ form.new_password1.errors|escape}}
                                                </div>

                                                <div class="field_wrap keywords" style="margin: 10px 0;">
                                                  <div><label class="section_subtitle">Confirm Password</label></div>
                                                    {{ form.new_password2|add_class:"input"}}
                                                    {{ form.new_password2.errors|escape}}
                                                </div>

                                                <button class="btn" type="submit">Save Changes</button>

                                                {% if form.non_field_errors %}
                                                {% for error in form.non_field_errors %}
                                                    <div class="mb-5 p-4 rounded-xl bg-red-200 text-white">
                                                        <p>{{ error|escape }}</p>
                                                    </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <button class="submit"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="overlay" id="overlay"></div>
{% endblock %}
