{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block title %} Reset password {% endblock %}
{% block content %}

<div class="breadcrumbs">
            <div class="wrap">
                <div class="wrap_float">
                    <a href="{% url 'home' %}">Home</a>
                    <span class="separator">/</span>
                    <a href="{% url 'profile' %}">Profile</a>
                    <span class="separator">/</span>
                    <a href="#" class="current">Reset Password</a>
                </div>
            </div>
        </div>
        <div class="image_bg--single" style="background-image: url({% static 'img/header4.jpg' %});"></div>
        <div class="page_content single-page tour-single">
            <div class="content-head">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="main">
                            <div class="section-top single-row">
                                <div class="single-left">

                                    <h1 class="title">
                                        Reset password here.
                                    </h1>
                                </div>
                            </div>
                            <div class="single-tour-slider" id="single-tour-slider">

                            </div>
                            <div class="description single-row">
                                <div class="single-left">
                                    <p>
                                        In order to reset do following steps:
                                        <ul>
                                            <li>
                                                <h5><b>Write email registered in the system.</b></h5>
                                                <h5>Check your email. You should click the link and set new password.</h5>
                                                <p style="margin: 10px 0; color:white;">Don't have an account? <a href="{% url 'register'%}"><b>Register here</b></a></p>
                                                <p style="margin: 10px 0;"><a href="{% url 'login' %}"
                                                  class="fw-bold text-body"><u>Login here</u></a></p>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="single-left">
                            <div class="single-content page--content details">
                                <br><h2>Reset password:</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="fields__block">
                                        <div class="fields">
                                            <div class="field">
                                                <div class="field_wrap keywords" style="margin: 10px 0;">
                                                  <label class="section_subtitle" style="margin: 15px 0px;">Email</label>
                                                    <input type="email" name="email"  class="input"
                                                      autocomplete="email" maxlength="254" required id="id_email"
                                                      placeholder="Enter email" class="form-control form-control-lg">
                                                </div>
                                                <button class="btn" type="submit">Submit</button>

                                            </div>
                                        </div>
                                        <button class="submit"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="overlay" id="overlay"></div>
{% endblock %}
