{% extends 'base.html'%}
{% load widget_tweaks %}
{% block title %} Change Password {% endblock %}
{% block content %}


        <div class="page_content single-page tour-single dark">
            <div class="content-body">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="alert alert-info">
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login Here</a>
                    </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}